/* NAVIGATION BAR MENU */
.Navigation {
  background-color: dodgerblue;
  bottom: 0;
  width: 100%;
}
.Navigation ul {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.Navigation ul li {
  margin: 10px;
}
.Navigation ul li a {
  text-decoration: none;
  color: mediumspringgreen;
}

/* HEADER */

.header {
  width: 100vw;
  padding-left: 20px;
  display: flex;
  color: mediumspringgreen;
  background-color: dodgerblue;
}

/* HOME SCREEN CLICK THROUGH */
.homeScreen {
  display: flex;
  align-items: center;
  height: 83vh;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.startScreen {
  display: flex;
  justify-content: center;
  margin: auto;
}

.C2A {
  width: 95vw;
  background-color: mediumspringgreen;
  color: dodgerblue;
}

.createEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.buttonTray {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.statusDashboard {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.statusDashboard p {
  text-align: center;
}

/* SETTINGS */

.Settings {
  height: 85vh;
}

.fullScreen {
  margin: auto;
  height: 50px;
  width: 93vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toggle {
  display: flex;
  flex-direction: row;
}

.greyCloud {
  background-color: lightgrey;
}

.square {
  width: 50px;
  margin-top: 0px;
  font-size: 28px;
  font-weight: 800;
  height: 50px;
  text-align: center;
}

/* CALENDAR */

.calliGirl {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* LOG */

.logDash {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.logBook {
  margin: 20px;
}
